@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200&family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --textHover: #fff;
  --btnColor: #E6E6FA;
  --btnHover: #1E90FF;
  --navBg: #fff;
  --navText: #00008B;
  --navHover: #FF8C00;
  --textColor2: #fff;
  --topBottom: #4B0082;
  --subColor: #4B0082;
  --subText: #fff;
  --subHover: #fff;
  --subTextHover: #4B0082;
  --selectColor: #b09cbd;
  --inputColor: #f3f3f3;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.125rem;
  line-height: 2;
}